*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white-clr: hsl(0, 0%, 100%);
  --light-gray-clr: hsl(212, 45%, 89%);
  --grayish-blue-clr: hsl(220, 15%, 55%);
  --dark-blue-clr: hsl(218, 44%, 22%);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--light-gray-clr);
  height: 100vh;
  display: grid;
  place-items: center;
  padding-inline: 1em;
}

.qr-code {
  max-width: 350px;
  background-color: var(--white-clr);
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.1);
}

.qr-code__img {
  display: block;
  border-radius: 1em;
}

.qr-code__text {
  text-align: center;
}

.qr-code__title {
  font-weight: 700;
  color: var(--dark-blue-clr);
}

.qr-code__description {
  width: 85%;
  margin-inline: auto;
  color: var(--grayish-blue-clr);
}
